<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="//unpkg.com/alpinejs" defer></script>
  </head>
  <body>
      <style>
          .bg{
              background: url("https://www.dolphincoveja.com/Content/src/program-txt.png");
          }
      </style>
    <!-- Navbar -->
    <%- include('./partials/home-nav'); %>  
    <!-- End Navbar -->
    <div class="bg-[#095f65] flex justify-center items-center py-2 space-x-2">
      <div>
        <img
          class="h-5"
          src="https://www.dolphincoveja.com/Content/images/Trust_Care.svg"
          alt=""
        />
      </div>
      <div class="text-white text-sm font-medium">
        Dolphin Cares: Integral Hygiene and safety protocols. Read more!
      </div>
    </div>
    <div>
      <img
        src="https://www.dtraveller.com/promotions/imagesDD/dolphincoveja-banner.jpg?v=1"
        alt=""
      />
    </div>
    <div class="bg-[#24326a] h-[7.5rem] text-center">
      <h1 class="py-3 text-white text-5xl font-bold">
        Welcome to Dolphin Cove Jamaica
      </h1>
      <p class="pb-3 text-white text-lg">
        Part of the Dolphin Discovery Group, the largest dolphin company in the
        world
      </p>
    </div>
    <!-- Main Content -->
    <div class="mt-10">
      <div class="prose text-center text-xl px-24 text-gray-500">
        <p class="pb-5 pt-4">
          Did you know that
          <span class="text-gray-700 font-semibold"
            >swimming with dolphins</span
          >
          is considered one of the
          <span class="text-gray-700 font-semibold">top 10 bucket list</span>
          items? When you come to
          <span class="text-gray-700 font-semibold">Dolphin Cove Jamaica</span>
          you not only get a chance to live this dream; you have the opportunity
          to knock off a few more, like ride a camel and interact with
          stingrays. Here a place where you come for the day but remember for a
          lifetime.
        </p>
        <p class="pb-5">
          One of the many things that make
          <span class="text-gray-700 font-semibold">Dolphin Cove Jamaica</span>
          special is that you can live the experience of
          <span class="text-gray-700 font-semibold"
            >swimming with dolphins</span
          >
          in the natural Caribbean Sea. Here you have the opportunity to enjoy
          the company of different fish, rays, and other forms of natural sea
          life.
          <span class="text-gray-700 font-semibold">Dolphin Cove Jamaica</span>
          is the place to spend the day enjoying lots of fun activities. There
          is truly something for everyone!
        </p>
        <p class="pb-24">
          <span class="text-gray-700 font-semibold">Dolphin Cove Jamaica</span>
          is full of
          <span class="text-gray-700 font-semibold"
            >natural wonders and beauty</span
          >
          you gotta see for yourself! In
          <span class="text-gray-700 font-semibold"
            >Dolphin Cove Ocho Rios</span
          >
          you’ll enjoy strolling around in the Jungle Trail, where you will
          notice many different wild animals, plants, and trees. At
          <span class="text-gray-700 font-semibold">Dolphin Cove Jamaica</span>
          we respect the environment of all the species, here you will live the
          most natural experience you’ve ever had.
        </p>
      </div>

      <div class="mb-20">

        <div class="px-24">
            <h1 class="text-[#24326a] font-bold text-5xl text-center border-b border-b-4 border-yellow-400">
                DISCOVER OUR SWIM WITH DOLPHINS PROGRAMS
              </h1>
        </div>
        


        <section
        class="bg-white"
        data-aos="fade-zoom-in"
        data-aos-easing="ease-in-back"
        data-aos-duration="1000"
      >
        <div class="max-w-4xl px-6 py-16 mx-auto">
          <div class="items-center md:flex md:space-x-16">
            <div class="md:w-1/2">
              <div class="flex items-center justify-center">
                <div
                  class="relative h-64 sm:h-80 lg:h-full rounded-md"
                >
                  <img
                    class="rounded-md object-contain w-96 h-full"
                    src="https://www.dolphincoveja.com/Content/src/program-1.jpg"
                    alt="Evelynn"
                  />
                </div>
              </div>
            </div>

            <div class="mt-8 md:mt-0 md:w-1/2">
              <h2
                style="font-family: 'Six Caps'; font-size: 40px"
                class="font-bold sm:text-3xl text-[#39a4ac] rounded"
              >
              A DAY OF FUN
              </h2>

              <p style="font-family: 'Prata'" class="mt-4 text-gray-600">
                They will give you a kiss and allow you to caress them while standing in knee deep water. This adventure is best for those who are not comfortable swimming in the sea and the very young.
              </p>

            </div>
          </div>
        </div>
      </section>

        <section
          class="bg-white"
          data-aos="fade-zoom-in"
          data-aos-easing="ease-in-back"
          data-aos-duration="1000"
        >
          <div class="max-w-4xl px-6 py-16 mx-auto">
            <div class="items-center md:flex md:space-x-16">
              <div class="md:w-1/2">
                <div class="mt-8 md:mt-0 md:w-full">
                  <h2
                    style="font-family: 'Six Caps'; font-size: 40px"
                    class="font-bold sm:text-3xl text-[#39a4ac] rounded"
                  >
                  SWIM WITH THE DOLPHINS
                  </h2>
                </div>

                <p style="font-family: 'Prata'" class="mt-4 text-gray-600">
                    At Dolphin Cove, interact with one dolphin while swimming in the deep. Enjoy a kiss, try a dance, perhaps you will get a splash or two and have a real up close experience.
                </p>

              </div>

              <div class="mt-8 md:mt-0 md:w-1/2">
                <div class="flex items-center justify-center">
                  <div class="relative h-64 sm:h-80 lg:h-full rounded-md">
                    <img
                      class="rounded-md object-contain w-96 h-full"
                      src="https://www.dolphincoveja.com/Content/src/program-2.jpg"
                      alt=""
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section
          class="bg-white"
          data-aos="fade-zoom-in"
          data-aos-easing="ease-in-back"
          data-aos-duration="1000"
        >
          <div class="max-w-4xl px-6 py-16 mx-auto">
            <div class="items-center md:flex md:space-x-16">
              <div class="md:w-1/2">
                <div class="flex items-center justify-center">
                  <div
                    class="relative h-64 sm:h-80 lg:h-full rounded-md"
                  >
                    <img
                      class="rounded-md object-contain w-96 h-full"
                      src="https://www.dolphincoveja.com/Content/src/program-3.jpg"
                      alt="Evelynn"
                    />
                  </div>
                </div>
              </div>

              <div class="mt-8 md:mt-0 md:w-1/2">
                <h2
                  style="font-family: 'Six Caps'; font-size: 40px"
                  class="font-bold sm:text-3xl text-[#39a4ac] rounded"
                >
                FUN TO THE LIMIT!                </h2>

                <p style="font-family: 'Prata'" class="mt-4 text-gray-600">
                    The most fun and unique program, designed to exceed all your expectations.Feel the thrill of foot-push; The dolphins will rise you above the water surface by pushing you from the soles of your feet.
                </p>
             
              </div>
            </div>
          </div>
        </section>

        <div class="flex justify-center my-20">
                  <img class="shadow-lg"
            src="https://www.dolphincoveja.com/Content/src/cards.png"
            alt=""
          />
      </div>
     

      <div class="px-[35rem] mb-10">
        <h1 class="text-[#24326a] font-bold text-5xl text-center border-b border-b-4 border-yellow-400">
          OUR PARKS
        </h1>  
      </div>
     
      <div class="flex space-x-10 px-10 mb-10">
        <div class="flex flex-col relative">
          <img class=""
            src="https://www.dolphincoveja.com/Content/media/Dolphin-Cove-Montego-Bay.jpg"
            alt=""
          />
          <div class="absolute bottom-0 ">
            <img class="relative w-full" src="https://www.dolphincoveja.com/Content/src/program-txt.png" alt="">
          <h6 class="absolute bottom-6 px-10 font-semibold text-white">DOLPHIN COVE MONTEGO BAY</h6>
          </div>
          
        </div>
        <div class="flex flex-col relative">
          <img class=""
            src="https://www.dolphincoveja.com/Content/media/dolphin-cove-ocho-rios.jpg"
            alt=""
          />
          <div class="absolute bottom-0 ">
            <img class="relative w-full" src="https://www.dolphincoveja.com/Content/src/program-txt.png" alt="">
          <h6 class="absolute bottom-6 px-12 font-semibold text-white">DOLPHIN COVE OCHO RIOS</h6>
          </div>
        </div>

        <div class="flex flex-col relative">
            <img class="" 
              src="https://www.dolphincoveja.com/Content/media/Moon-Palace-Jamaica-Grande.jpg"
              alt=""
            />
            <div class="absolute bottom-0 ">
              <img class="relative w-full" src="https://www.dolphincoveja.com/Content/src/program-txt.png" alt="">
            <h6 class="absolute bottom-6 px-8 font-semibold text-white">MOON PALACE JAMAICA GRANDE</h6>
            </div>
          </div>

          <div class="flex flex-col relative">
            <img class=""
              src="https://www.dolphincoveja.com/Content/src/programs/ps/dolphincove-imagenlocacion.jpg"
              alt=""
            />

            <div class="absolute bottom-0 ">
              <img class="relative w-full" src="https://www.dolphincoveja.com/Content/src/program-txt.png" alt="">
            <h6 class="absolute bottom-6 px-4 font-semibold text-white">DOLPHIN COVE PUERTO SECO BEACH</h6>
            </div>          </div>
      </div>

      <div>
          <h3 class="text-center text-gray-600 font-semibold text-2xl">
            Take a look at our parks and discover all of our programs in Dolphin Cove Jamaica!
          </h3>

          <div class="prose text-center text-xl px-24 text-gray-500">
            <p class="pb-5 pt-4">

                At <span class="text-gray-700 font-semibold">Dolphin Cove Ocho Rios</span> guests can enjoy the tropical surroundings, taste our famous Jamaican coffee at our <span class="text-gray-700 font-semibold">Star Buccaneers coffee shop</span> browse for souvenirs or jewellery at our very own gift shops. See the Shark Show while the pirates roam freely along the boardwalk of “Little Port Royal” and perform a “jig or two”. Be entertained while you are having lunch against the backdrop of the Caribbean Sea. Play some games, win a prize, learn amazing facts about Jamaica stroll around in our Jungle Trail and marvel yourself at the wild animals, plants and trees. and of course the marine mammals!. At <span class="text-gray-700 font-semibold">Dolphin Cove Jamaica</span> there are activities to keep you busy for the entire day.
             
            </p>
            <p class="pb-5">
                You may know it as Dolphin Cove Negril, but the now <span class="text-gray-700 font-semibold">Dolphin Cove Montego Bay</span> is a magnificent property situated on 23 acres of ocean frontage <span class="text-gray-700 font-semibold">(Sandy Bay, 40 min away from Montego Bay and 50 min from Negril)</span>, where you will have the opportunity to interact and swim with dolphins, enjoying the love of these amazing lovable marine mammals. Here you will also feel the thrill of swimming with sharks and stingrays!

            </p>
            <p class="pb-24">
                The  <span class="text-gray-700 font-semibold">Dolphin Cove Jamaica Entrance</span> Fee is included with all dolphin and shark interactive programs. Whether you are achieving your dream of being a dolphin trainer at Dolphin Ocho Rios Jamaica or swimming with dolphins at Dolphin Cove Montego Bay you will have the Experience of a Lifetime!
            </p>
          </div>
      </div>


      <iframe class="w-full px-32 mb-10" src="https://www.google.com/maps/embed?pb=!1m12!1m8!1m3!1d825928.6855376288!2d-77.3429469167088!3d18.13764779238785!3m2!1i1024!2i768!4f13.1!2m1!1sDolphin%20Cove!5e0!3m2!1sen!2sjm!4v1655097656546!5m2!1sen!2sjm" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

      <div class="px-48 mb-10">
        <h1 class="text-[#24326a] font-bold text-5xl text-center border-b border-b-4 border-yellow-400">
          THE CARIBBEAN'S NUMBER 1 ATTRACTION
        </h1>
      </div>
  
      <p class="text-center font-semibold text-gray-600 px-24 text-lg mb-10">Dolphin Cove Jamaica has been named the Caribbean's Leading Adventure Excursions Operator for two consecutive years by the World Travel Awards. These awards are the foundation to Dolphin Cove Jamaica's position as a world leader in adventure excursions.</p>

      <div class="flex justify-center items-center space-x-48">
          <img src="https://www.dolphincoveja.com/Content/media/world-travel-2012.png" alt="">
          <img src="https://www.dolphincoveja.com/Content/media/world-travel-2011.png" alt="">
          <img src="https://www.dolphincoveja.com/Content/media/world-travel-2013.png" alt="">
      </div>
    </div>
    <!-- End Main Content -->

    <!-- Footer -->
    <%- include('./partials/footer'); %>
  <!-- <Footer> -->
  </body>
</html>
